.page-footer {
    padding: 19px 5px;
    font-size: 13px;
    background-color: #222c3c;
    margin-left: 17%;
    text-align: right;
    transition: 0.3s ease all;
}
.page-footer-toggle-closed {
    padding: 19px 5px;
    font-size: 13px;
    background-color: #222c3c;
    margin-left: 0%;
    text-align: right;
    transition: 0.3s ease all;
}
.page-footer .page-footer-inner {
    color: #98a6ba;
}

.page-footer-toggle-closed .page-footer-inner {
    color: #98a6ba;
}
